.group {
    padding: 10px 20px;
    border-bottom: 1px pink solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sub-group-list {
    width: 100%;
    list-style: none;
    margin-left: 10px;
}

.sub-group {
    text-align: left;
    padding: 5px 0;
    display: flex;
}

.sub-group p {
    margin: 0 5px;
}

.sub-group-actions p {
    cursor: pointer;
}

.sub-group-actions p:first-child {
    color: orange;
}

.sub-group-actions p:last-child {
    color: red;
}

.sub-group:hover {
    background-color: #5c5cd3;
}

.group-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.add-button {
    font-size: 20px;
}

.channel-add-action {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
}

.channel-add-action input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    height: 10%;
    padding: 10px 10px;
    outline: none;
    font-size: 16px;
    transition: 0.5s;
    background: none;
    color: white;
}

.channel-add-action p { 
    cursor: pointer;
    font-size: 24px;
}
